@import "tailwindcss";

@theme {
  --color-prosperus-navy: #031A2B;
  --color-prosperus-box: #031726;
  --color-prosperus-card: #0D2E44;
  --color-prosperus-border: #123F5B;
  --color-prosperus-stroke: #052B48;
  --color-prosperus-gold: #FFDA71;
  --color-prosperus-gold-light: #FFDA71;
  --color-prosperus-gold-dark: #CA9A43;
  --color-prosperus-white: #FCF7F0;
  --color-prosperus-grey: #A8B4BC;
  --color-prosperus-muted-bg: #152938;
  --color-prosperus-muted-text: #95A4B4;
  --color-prosperus-dark-start: #042034;
  --color-prosperus-dark-end: #04253E;
}

@layer base {
  body {
    background-color: var(--color-prosperus-navy);
    color: var(--color-prosperus-white);
    max-width: 100vw;
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
